*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
a{

  text-decoration: none;
  color: inherit;
}

body{

background-color:#0d0d0d;

}





.divider{
  margin-top: 0.5rem;
    height:30px;
    border-left: 1px solid hwb(0 100% 0% / 0.705);
   }


   .Sign-Up{
    background-color: #ffffff;
    height:2.5rem;
    width: 6rem;
    color: black;
    border-radius: 4px;
    text-align: center;

   }

   .nav-item .nav-link{
    position: relative;
   }


   .nav-item:not(:first-child) .nav-link::after{
    content:"";
    position:absolute;
    left: 0;
  bottom: 0; 
   width: 0;
   height: 2px;
   background-color: #ffffff;
    transition: all 0.3s ease-in-out;
   }




   .nav-item:not(:last-child) .nav-link:hover::after{
    width: 100%;
    
 
   }

   .navbar{
 background-color: #b8a48e ;
 height: 4.5rem;
 display: flex;
 align-items: center;
   
   }



   
   #searchForm{

   width: 90%;
    height: 4rem;
  
   }


   #searching{

    background-color:#b8a48e;
    border: #b8a48e solid;
    border-radius: 0%;
    outline: none;
    box-shadow: none;
   }



   .search-btn{
     width: 100px;
     background-color: #0d0d0d;
     border-radius: 0%;
     color: #b8a48e;
     height: 4rem;
   }

   .box-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


 #closeSearch{
  width:2%;
  background-color:  #b8a48e;
  border-radius: 0%;
  color:#0d0d0d;
  height: 4rem;
  outline: none;
  box-shadow: none;
  border: none;
   margin-right: 15px;
  font-size:30px;

  }


   .search-btn:hover{
   
    background-color: #0d0d0d;

  }



/* para-hero */

.para-hero{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #b8a48e;
    position: relative;
    padding-bottom: 10px;
    margin-top: 40px;
   }
  
  
   .para-hero::after{
    background-color: #b8a48e;
    content: "";
    position: absolute;
    bottom: 0;
    left: 49%;
    width: 2%;
    height: 2px;
    margin: 0 auto;
   }
  
  
  
   /* para-hero */




/* boxes starts */


box-container{

    margin-top: 40px;
     }
    




.boxes{

    display: flex;
    flex-direction: row;
    justify-content: center;
     align-items: center;
 
     color: #ebebeb;
     font-weight:700;
     margin-top: 40px;
     gap: 30px;
     width: 100vw;
}


.box1{
    background:url("https://lastfm.freetls.fastly.net/i/u/770x0/928afdd8c36d15650ce8a468b8a28591.jpg#928afdd8c36d15650ce8a468b8a28591") no-repeat center/cover;
 filter:opacity(0.8);
 position: relative;
 text-align:left ;
 display: flex;
 flex-direction: column;
 justify-content:flex-end;
 align-items: center;
 height: 600px;
 width: 600px;
 gap: 20px;
padding: 20px;

}


.box1::after{

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:80%;
    background:linear-gradient(to top ,rgba(51, 197, 255, 0.6),transparent);
}
.box1 *{
    color: white;
    z-index: 5;
}








.box2{
    background:url("https://lastfm.freetls.fastly.net/i/u/770x0/7101d7315a8c272ac4ac29776a2319fd.jpg#7101d7315a8c272ac4ac29776a2319fd") no-repeat center/cover;
 filter:opacity(0.8);
 position: relative;
 text-align:left ;
 display: flex;
 flex-direction: column;
 justify-content:flex-end;
 height: 600px;
 width: 600px;
 gap: 20px;
 align-items:center;
 padding: 20px;

 z-index: 2;

}

.box2::after{

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:80%;
    background:linear-gradient(to top ,rgba(71, 40, 40, 0.6),transparent);
}
.box2 *{
    color: white;
    z-index: 5;
}



 .box2:hover{


    filter: opacity(0.6);
}



.box1:hover{


    filter: opacity(0.6);
}




.small-boxs{
    display: flex;
 flex-direction: row;
 justify-content:space-between;
gap: 60px;
}
.sbox {
 font-size:13px;
    display: flex;
 flex-direction:row;
 justify-content:space-evenly;
  gap: 20px;
}

.details{
     gap: 0;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    line-height: 5px;
}

.sbox img{
    height:100px;
    width: 100px;
   


}


/* boxes ends */
.searchbox-music{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    margin-bottom: 70px;
        margin-top: 30px;
        color: #b8a48e;
        background: url("https://www.last.fm/static/images/music-landing/albums_bg_1E6875.8cb84eb88196.jpg") no-repeat center/cover ;
        filter: brightness(0.9);
        padding: 20px;
  }



.searchbox{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
margin-bottom: 30px;
}



.searchbox input{
width: 350px;
color: #b8a48e;

}




/* 
Artists */


.cards{
    min-height:10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 90px;
    }
    

.card{
    background-color: #0d0d0d;
    text-wrap: wrap;
    color: #b8a48e;
    position: relative;
}



    .card img{
        width: 220px;
        height:220px ;
        position: relative;
        border-radius: 50%;
        filter: opacity(0.8);
         }


         .card-text{

            position: absolute;
            bottom: 25px;
            left: 30px;
            color: #ffffff;
            font-weight: 400;
            text-align: left;
            text-decoration: underline;
            text-wrap: wrap;
            padding: 8px;
         }



         .card:hover img {
            filter: opacity(0.6);
          
          }
/* Artists */







   /* footer */


.footer{

    gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: hwb(31 56% 28% / 0.267) solid 0.5px;
      margin-top: 20px;
    }
    
    
    .footer-items{
    display: flex;
    align-items: center;
    justify-content:center;
    
      width: 100%;
      gap: 90px;
      margin-left: 140px;
    }
    
    
    
    .footer-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      width: 300px;
      height: 250px;
      color: #b8a48e;
      gap: 8px;
    }
    
    
    
    .footer-item p:hover{
    
       font-size: larger;
      }
    
      .footer-item a:hover{
    
         font-size: large;
        }
      
    
    
    
    
    
    .footer-item p{
      font-weight: 700;
    }
    
    .copyright{
      color: #b8a48e;
      font-weight: 500;
      margin-bottom: 20px;
    }
    
    
    
    
    /* foooter */










        
@media(max-width:768px){

    .nav-item a{
  
      color: #b8a48e !important ;
    }
  
  
  
    .navbar{
      background-color: #b8a48e ;
      height: 4.5rem;
      display: flex;
      align-items: center;
        z-index: 200;
        margin-bottom: 40px;
        }
      
     
        
        #searchForm{
        margin-top: 10px;
        width: 90%;
         height: 4rem;
        
       
        }
     
     
        #searching{
     
         background-color:#b8a48e;
         border: #b8a48e solid;
         border-radius: 0%;
         outline: none;
         box-shadow: none;
       
        }
     
     
     
        .search-btn{
          width: 60px;
          background-color:  #b8a48e;
          border-radius: 0%;
          color: #0d0d0d;
          height: 4rem;
          margin-right:0px;
        }
     
        .box-buttons{
         display: flex;
         justify-content: space-between;
         align-items: center;
        }
     
     
      #closeSearch{
       width:30%;
       background-color:  #b8a48e;
       border-radius: 0%;
       color:#0d0d0d;
       height: 4rem;
       outline: none;
       box-shadow: none;
       border: none;
        margin-right: 15px;
       font-size:20px;
  
       }
     
  
  
       .navbar-collapse.show{
  
        background-color:#0d0d0d ;
       }
  



/* main */


/* boxes starts */


box-container{

    margin-top: 40px;
     }
    




.boxes{

    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
 
     color: #ebebeb;
     font-weight:700;
     margin-top: 40px;
     gap: 10px;
     width: 100%;
}


.box1{
    background:url("https://lastfm.freetls.fastly.net/i/u/770x0/928afdd8c36d15650ce8a468b8a28591.jpg#928afdd8c36d15650ce8a468b8a28591") no-repeat center/cover;
 filter:opacity(0.8);
 position: relative;
 text-align:left ;
 display: flex;
 flex-direction: column;
 justify-content:flex-end;
 align-items: center;
 height: 350px;
 width: 350px;
 gap: 10px;
padding: 20px;

}


.box1::after{

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:80%;
    background:linear-gradient(to top ,rgba(51, 197, 255, 0.6),transparent);
}
.box1 *{
    color: white;
    z-index: 5;
}








.box2{
    background:url("https://lastfm.freetls.fastly.net/i/u/770x0/7101d7315a8c272ac4ac29776a2319fd.jpg#7101d7315a8c272ac4ac29776a2319fd") no-repeat center/cover;
 filter:opacity(0.8);
 position: relative;
 text-align:left ;
 display: flex;
 flex-direction: column;
 justify-content:flex-end;
 height: 350px;
 width: 350px;
 gap: 20px;
 align-items:center;
 padding: 20px;

 z-index: 2;

}

.box2::after{

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:80%;
    background:linear-gradient(to top ,rgba(71, 40, 40, 0.6),transparent);
}
.box2 *{
    color: white;
    z-index: 5;
}



 .box2:hover{


    filter: opacity(0.6);
}



.box1:hover{


    filter: opacity(0.6);
}




.small-boxs{
    display: flex;
 flex-direction: row;
 justify-content:space-between;
gap: 20px;


}
.sbox {
 font-size:10px;
    display: flex;
 flex-direction:row;
 justify-content:space-evenly;
  gap: 5px;
text-wrap: wrap;
  width:170px;
}

.details{
     gap: 0;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    line-height:2px;

}

.sbox img{
    height:50px;
    width: 50px;
   


}


/* boxes ends */
.searchbox-music{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    margin-bottom: 70px;
        margin-top: 30px;
        color: #b8a48e;
        background: url("https://www.last.fm/static/images/music-landing/albums_bg_1E6875.8cb84eb88196.jpg") no-repeat center/cover ;
        filter: brightness(0.9);
        padding: 20px;
  }



/* serch box starts */
    .searchbox-music{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    
      margin-bottom: 70px;
          margin-top: 30px;
          color: #b8a48e;
          background: url("https://www.last.fm/static/images/music-landing/albums_bg_1E6875.8cb84eb88196.jpg") no-repeat center/cover ;
          filter: brightness(0.9);
          padding: 20px;
    }



.searchbox{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
margin-bottom: 30px;

}



.searchbox input{
 width: 300px;
 color: #b8a48e;
 
  }
  
/* serch box end */





/* 
Artists */


.cards{
    min-height:10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:15px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 90px;
   
    }
    

.card{
    background-color:none;
    text-wrap: wrap;
    color: #b8a48e;
    position: relative;
    width: 80px;
        height:80px ;
        border-radius: 50%;
}



    .card img{
        width: 80px;
        height:80px ;
        position: relative;
        border-radius: 50%;
        filter: opacity(0.8);
         }


         .card-text{

            position: absolute;
            bottom:4px;
            left: 2px;
            color: #ffffff;
            font-weight: 100;
            text-align: left;
            text-decoration: underline;
            text-wrap: wrap;
            padding: 8px;
            font-size: 10px;
         }



         .card:hover img {
            filter: opacity(0.6);
          
          }
/* Artists */

/* main  */






/* footer */


.footer{

    gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: hwb(31 56% 28% / 0.267) solid 0.5px;
      margin-top: 20px;
    }
    
    
    .footer-items{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: row;
      width: 100%;
      height: 240px;
      gap: 0px;
      margin-left: 0px;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    
    
    .footer-item{
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      width: 110px;
      height: 120px;
      color: #b8a48e;
      gap: 12px;
    font-size: 10px;
      margin-top: 5px;
      line-height:10px;
      text-wrap: wrap;
    margin-bottom: 0;
    padding: 0;
    }
    
    
    
    .footer-item p:hover{
    
       font-size: smaller;
      }
    
    
    .footer-item p{
      font-weight: 0;
     
      margin-bottom: 0;
    }
    
    .copyright{
      color: #b8a48e;
      font-weight: 100;
      margin-top: 130px;
      font-size: 8px;
  
    }
    
    
    
    
    /* foooter */
    
    
    
    
    
    
    










  
    }  