*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
a{

  text-decoration: none;
  color: inherit;
}

body{

background-color:#0d0d0d;

}





.divider{
  margin-top: 0.5rem;
    height:30px;
    border-left: 1px solid hwb(0 100% 0% / 0.705);
   }


   .Sign-Up{
    background-color: #ffffff;
    height:2.5rem;
    width: 6rem;
    color: black;
    border-radius: 4px;
    text-align: center;

   }

   .nav-item .nav-link{
    position: relative;
   }


   .nav-item:not(:first-child) .nav-link::after{
    content:"";
    position:absolute;
    left: 0;
  bottom: 0; 
   width: 0;
   height: 2px;
   background-color: #ffffff;
    transition: all 0.3s ease-in-out;
   }




   .nav-item:not(:last-child) .nav-link:hover::after{
    width: 100%;
    
 
   }

   .navbar{
 background-color: #b8a48e ;
 height: 4.5rem;
 display: flex;
 align-items: center;
   
   }



   
   #searchForm{

   width: 90%;
    height: 4rem;
  
   }


   #searching{

    background-color:#b8a48e;
    border: #b8a48e solid;
    border-radius: 0%;
    outline: none;
    box-shadow: none;
   }



   .search-btn{
     width: 100px;
     background-color: #0d0d0d;
     border-radius: 0%;
     color: #b8a48e;
     height: 4rem;
   }

   .box-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


 #closeSearch{
  width:2%;
  background-color:  #b8a48e;
  border-radius: 0%;
  color:#0d0d0d;
  height: 4rem;
  outline: none;
  box-shadow: none;
  border: none;
   margin-right: 15px;
  font-size:30px;

  }


   .search-btn:hover{
   
    background-color: #0d0d0d;

  }





























   /* footer */


.footer{

    gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: hwb(31 56% 28% / 0.267) solid 0.5px;
      margin-top: 20px;
    }
    
    
    .footer-items{
    display: flex;
    align-items: center;
    justify-content:center;
    
      width: 100%;
      gap: 90px;
      margin-left: 140px;
    }
    
    
    
    .footer-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      width: 300px;
      height: 250px;
      color: #b8a48e;
      gap: 8px;
    }
    
    
    
    .footer-item p:hover{
    
       font-size: larger;
      }
    
      .footer-item a:hover{
    
         font-size: large;
        }
      
    
    
    
    
    
    .footer-item p{
      font-weight: 700;
    }
    
    .copyright{
      color: #b8a48e;
      font-weight: 500;
      margin-bottom: 20px;
    }
    
    
    
    
    /* foooter */
   .result{
  margin: 30px 140px;
   color: #b8a48e;    
   font-weight: 600;
   }
       


   .search-results{

    margin-left: 5px;
   }

    .show-result{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;

        gap: 40px;
        width: 100%;
    }


.artists-container{
min-height:10px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
flex-wrap: wrap;


}



.albums-container{
    min-height: 10px;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}





.tracks-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 10px;
    width: 100%;
}


.artists-container  .card{
border-radius: 50%;

}

.tracks-container img{
    width: 200px;
    height:200px;
position: relative;
filter: brightness(0.7);
    }

    .albums-container img{
        width: 200px;
            height:200px;
            position: relative;
            filter: brightness(0.7);
         }


         .artists-container img{
            width: 200px;
            height:200px ;
            position: relative;
            filter: brightness(0.7);
            border-radius: 50%;
         
             }



    
    .title{
        margin: 2px;
          font-weight: 500;
       text-align: left;
       text-decoration: underline;
       color:#b8a48e;
       font-size: larger;
    }
    
    
    
    .card-text{

        position: absolute;
         bottom: 25px;
        left: 10px;
        color: #ffffff;
        font-weight: 400;
        text-align: left;
        text-decoration: underline;
        text-wrap: wrap;
        padding: 8px;

    }

    .card-text3{

        margin-left: 14px;
    }


    .artists-container .card-text{

        bottom: 50px;
        left: 20px;

    }





    .card-text2{
        position: absolute;
        bottom: 10px;
       left: 10px;
       color: #ffffff;
       font-weight: 500;
       text-align: left;
       text-decoration: underline;
    }

 


    .ard-img-overlay{
       justify-content:center;
      align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }










    .card {
       padding: 5px;
        color:#b8a48e;
        text-align: left;
        background-color: #0d0d0d;
     
        
       }
     
     
     
       .card{
     
         position: relative;
       }
     
     
     
       .bi-play-circle{
         font-size: 100px;
        top:10%;
        left:25%;
         position: absolute;
         color: #0d0d0d;
         opacity: 0;
       }
   
     
     
        .bi-play-circle:hover{
       
         opacity:1;
       }














           
@media(max-width:768px){

    .nav-item a{
  
      color: #b8a48e !important ;
    }
  
  
  
    .navbar{
      background-color: #b8a48e ;
      height: 4.5rem;
      display: flex;
      align-items: center;
        z-index: 200;
        margin-bottom: 40px;
        }
      
     
        
        #searchForm{
        margin-top: 10px;
        width: 90%;
         height: 4rem;
        
       
        }
     
     
        #searching{
     
         background-color:#b8a48e;
         border: #b8a48e solid;
         border-radius: 0%;
         outline: none;
         box-shadow: none;
       
        }
     
     
     
        .search-btn{
          width: 60px;
          background-color:  #b8a48e;
          border-radius: 0%;
          color: #0d0d0d;
          height: 4rem;
          margin-right:0px;
        }
     
        .box-buttons{
         display: flex;
         justify-content: space-between;
         align-items: center;
        }
     
     
      #closeSearch{
       width:30%;
       background-color:  #b8a48e;
       border-radius: 0%;
       color:#0d0d0d;
       height: 4rem;
       outline: none;
       box-shadow: none;
       border: none;
        margin-right: 15px;
       font-size:20px;
  
       }
     
  
  
       .navbar-collapse.show{
  
        background-color:#0d0d0d ;
       }
  
  
    }  